* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 100%;
  background-color: rgb(207, 205, 205);
}

.header-content {
  padding: 5px 0px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 24px;
}

.header__button-order {
  background-color: red;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 7px;
}

/* PROMO */

.promo {
  color: black;
  margin-bottom: 182px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  margin-bottom: 50px;
}

.promo-title {
  padding: 70px;
}

.promo-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  z-index: 20;
}

.promo__image {
  width: 35%;
}

.promo__info {
  width: 50%;
}

.promo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.promo-list__item {
  font-weight: bolder;
  font-size: 32px;
  margin-bottom: 30px;
  padding: 7px;
  border-radius: 7px;
  background-color: rgba(250, 235, 215, 0.7);
}

.promo-background__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.promo-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  bacground: #ccc;
}

/* CONSIST */



/* COMMENTS-SLIDES */

.comments {
  position: relative;
}

.comment {
  width: 90%;
  height: 100%;
  display: flex;
  padding: 20px;
}

.comment-people-info {
  height: 100%;
}

.comment__avatar {
  border-radius: 50%;
  height: 80%;
  width: auto;
}

.comment__name {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.comment__text {
  width: 70%;
  margin: auto;
  font-size: 22px;
}

.slider {
  width: 75%;
  height: 400px;
  overflow: hidden;
  border: 10px solid #000;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.navigation__bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: rgb(204, 32, 32);
  opacity: 0.3;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.navigation__bar:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

input[name='radio'] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 300%;
  height: 100%;
  display: flex;
}

.slide {
  width: 33%;
  box-sizing: border-box;
  transition: all 0.6s ease;
}

.comment {
  width: 100%;
  height: 100%;
}

#slides__radio1:checked ~ .s1 {
  margin-left: 0;
}

#slides__radio2:checked ~ .s1 {
  margin-left: -33%;
}
#slides__radio3:checked ~ .s1 {
  margin-left: -66%;
}
