* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Tahoma, Verdana, Aial, sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

.button-order {
  background-color: red;
  color: white;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

/* HEADER */

header {
  width: 100%;
  background-color: rgb(207, 205, 205);
}

.header-content {
  padding: 20px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 32px;
}

.header__button {
  font-size: 24px;
}

/* PROMO-HEAD */

.promo-head {
  color: black;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}

.promo-head-title {
  text-align: center;
  padding: 70px;
  font-size: 38px;
}

.promo-head-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  z-index: 20;
}

.promo-head__image {
  width: 40%;
  height: 40%;
}

.promo-head__info {
}

.promo-head-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

.promo-head__item {
  font-weight: bolder;
  font-size: 32px;
  margin-bottom: 30px;
  padding: 7px;
  border-radius: 7px;
  background-color: rgba(250, 235, 215, 0.7);
}

.promo-head-background__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.promo-head-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  bacground: #ccc;
}

/* CONSIST */

.consists {
  padding: 50px 0;
  background-color: #;
}

.consist {
  padding: 20px 0;
  text-align: center;
}

.consist-title {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

.consist-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.consist-product {
  width: 100%;
  margin: auto 20px;
  display: flex;
  flex-direction: column;
}

.consist-product-image {
  width: 100%;
  height: 30%;
  margin: auto;
  align-items: center;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.consists-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.consist__img {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.consist__text {
  font-size: 24px;
}

.consist-text__title {
  text-transform: uppercase;
  font-weight: 600;
}

.consist-buttton {
  margin: 0 auto;
  font-size: 34px;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.arrow {
  margin: 100px auto;
}

.arrow {
  width: 150px;
  height: 3px;
  background: black;
}

.left:nth-child(1) {
  rotate: 25deg;
}

.left:nth-child(3) {
  rotate: -25deg;
}

.right:nth-child(1) {
  rotate: -25deg;
}

.right:nth-child(3) {
  rotate: 25deg;
}

/* COMMENTS-SLIDES */

.comments {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #ccc;
}

.comments-title {
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
}

.comment {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
}

.comment-people-info {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment__avatar {
  border-radius: 50%;
  align-items: center;
  height: auto;
  width: 70%;
}

.comment__name {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.comment__text {
  width: 70%;
  margin: auto;
  font-size: 22px;
  margin-bottom: 20px;
}

.slider {
  width: 75%;
  height: 90%;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.navigation__bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.navigation__bar:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

input[name='radio'] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 300%;
  height: 100%;
  display: flex;
}

.slide {
  width: 33%;
  box-sizing: border-box;
  transition: all 0.6s ease;
}

.comment {
  width: 100%;
  height: 100%;
}

#slides__radio1:checked ~ .s1 {
  margin-left: 0;
}

#slides__radio2:checked ~ .s1 {
  margin-left: -33%;
}
#slides__radio3:checked ~ .s1 {
  margin-left: -66%;
}

/* PROMO-DESCRIPTION */

.promo {
  width: 100%;
  padding: 30px 0;
}

.promo-description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.promo-description__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 34px;
}

.promo-people {
  width: 30%;
  height: auto;
  margin-right: 20px;
}

.promo-text {
  width: 65%;
  font-size: 24px;
  display: inline;
  margin: auto 0;
}

.promo-properties {
  width: 100%;
}

.promo-properties__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.promo-properties__item {
  border-top: 1px solid rgba(66, 66, 66, 0.481);
  list-style-type: none;
  font-size: 22px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  box-sizing: content-box;
}

/* CurentDown */

.timeTo {
  font-size: 28px;
  line-height: 108%;
  font-weight: bold;
  text-align: center;
}

.timeTo span {
  vertical-align: top;
}

.timeTo div {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 30px;
  overflow: hidden;
}

.timeTo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 3px;
}

/* ORDER */

.order {
  background-image: url(./media/image/backgound-order.jpg);
  background-size: cover;
  color: #fff;
}

.order-header {
  margin: 0 auto;
  padding: 20px 0;
}

.order__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 38px;
}

.order-body {
  display: flex;
  justify-content: space-between;
}

.order__promo-image {
  width: 35%;
  height: 35%;
}

.order-inputs {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  border: 3px solid red;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.order-input {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background: none;
  font-size: 26px;
  color: #fff;
  margin: 15px 0;
}

.order-inputs__title {
  text-align: center;
}

.order-price {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.order__old-price {
  font-size: 22px;
  text-decoration: line-through;
  opacity: 0.7;
}

.order__new-price {
  font-size: 34px;
  color: red;
}

@media (max-width: 1620px) {
  .arrow {
    width: 100px;
  }

  .consist__text {
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .promo-text {
    font-size: 20px;
  }

  .comment__text {
    font-size: 20px;
  }

  .promo-head-title {
    font-size: 32px;
  }

  .promo-head__item {
    font-size: 28px;
  }

  .consist__text {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .line {
    justify-content: center;
  }

  .arrow {
    margin: 70px auto;
  }

  .promo-text {
    font-size: 18px;
  }
}

@media (max-width: 1180px) {
  .promo-text {
    font-size: 16px;
  }

  .comment__text {
    font-size: 18px;
  }

  .comment__name {
    font-size: 18px;
  }

  .promo-properties__item {
    font-size: 16px;
  }

  .order-inputs {
    font-size: 18px;
  }

  .order-input {
    font-size: 18px;
  }

  .header__logo {
    font-size: 26px;
  }

  .button-order {
    font-size: 18px;
  }

  .consist__text {
    font-size: 14px;
  }

  .promo-head-title {
    font-size: 26px;
  }

  .promo-head__item {
    font-size: 18px;
  }

  .promo-description__title {
    font-size: 26px;
  }

  .promo-text {
    font-size: 14px;
  }

  .promo-properties__item {
    font-size: 14px;
  }

  .comments-title {
    font-size: 26px;
  }

  .comment__text {
    font-size: 14px;
  }

  .comment__name {
    font-size: 14px;
  }

  .comments {
    height: 400px;
  }

  .consist__img {
    width: 60px;
  }
}

@media (max-width: 880px) {
  .wrapper {
    width: 95%;
  }

  .slider {
    width: 95%;
  }

  .order__title {
    font-size: 26px;
  }

  .consist-title {
    font-size: 26px;
  }

  .arrow {
    width: 50px;
  }

  .promo-text {
    font-size: 12px;
  }

  .promo-properties__item {
    font-size: 12px;
  }

  .order-inputs {
    font-size: 14px;
  }

  .order-input {
    font-size: 14px;
    margin: 5px 0;
  }
}

@media (max-width: 680px) {
  .promo-head-title {
    font-size: 24px;
  }

  .promo-head__item {
    font-size: 18px;
  }

  .consist-text {
    font-size: 12px;
  }
  .arrow {
    width: 30px;
  }

  .consist__text p {
    display: none;
  }

  .comment__text {
    font-size: 12px;
  }

  .comment {
    flex-direction: column;
    align-items: center;
  }

  .comments {
    height: 500px;
  }

  .promo-description__title {
    font-size: 22px;
  }

  .promo-description {
    flex-direction: column;
    align-items: center;
  }

  .order-body {
    flex-direction: column;
    align-items: center;
  }

  .order__promo-image {
    width: 50%;
  }

  .order-inputs {
    width: 95%;
  }
}

@media (max-width: 680px) {
  .promo-properties__list {
    flex-direction: column;
  }

  .consist-content {
    flex-direction: column;
  }

  .consists-list {
    flex-direction: row;
  }

  .consist-product-image {
    width: 50%;
  }

  .line {
    flex-direction: row;
  }

  .left:nth-child(1) {
    rotate: 60deg;
  }

  .left:nth-child(2) {
    rotate: 90deg;
  }

  .left:nth-child(3) {
    rotate: -605deg;
  }

  .right:nth-child(1) {
    rotate: -60deg;
  }

  .right:nth-child(2) {
    rotate: 90deg;
  }

  .right:nth-child(3) {
    rotate: 60deg;
  }
}

@media (max-width: 480px) {
  .promo-head-title {
    font-size: 18px;

  }
  .promo-head__item {
    font-size: 14px;
  }
}
